.BottomLeftLogBackground{
    position: absolute;
    bottom: unset;
    left: 16px;
    position: fixed;
    z-index:2
  } 

  @media screen and (max-width:1023px){
 /* .BottomLeftLogBackground {
    position: absolute;
    bottom: -25%;
}*/
.BottomLeftLogBackground {
  position: relative;
  line-height: 12px;
}
}

  @media screen and (max-width:600px){
      #tailleImg{
        width:200px
      }
  }